/*@font-face {*/

/*font-family:'fzztjw';*/

/*src: url('../font/SourceHanSansCN-Normal.otf');*/

/*font-weight: normal;*/

/*font-style: normal;*/

/*}*/

/*通用样式*/

.ti2 {
    text-indent: 2em;
}

/*分页器颜色*/
.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #BE2027;
}
/*分页器大小*/
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
    min-width: 40px;
    height: 40px;
    line-height: 40px;
}
.el-form-item {
    margin-bottom: 0;
}
.el-form-item__label,.el-radio {
    color: #131313;
}
.dn {
    display: none;
}
.el-input__inner {
    height: 25px;
    line-height: 25px;
}
.el-radio__input.is-checked+.el-radio__label {
    color: #BE2027;
}
.el-radio__input.is-checked .el-radio__inner {
    border-color: #BE2027;
    background: #BE2027;
}